doctype
html( lang="en", ng-app="shortUrlApp")
  head
    title File Metadata
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel='stylesheet')
    link(href="/stylesheets/style.css" rel='stylesheet')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    
body
  block content
  div.text-center
    h1 File Metadata Microservice
    h4
      a(href="https://www.freecodecamp.com" target="blank") Free Code Camp: APIs and Microservices
    h5 Technologies: NodeJs, Express, MongoDB, Mongoose, JavaScript, HTML, CSS, and Bootstrap.
  br
  form(method='POST' action='/upload' enctype='multipart/form-data')
    label(for='file') Select the file
    input#file.form-control-file(type='file', placeholder='file' name='file')
    br
    input.btn.btn-primary(type='submit')
  div.instructions
    h4 How it works
    ul
      li Upload a file by clicking the Choose File button
      li Select the file and click the Submit button
      li It will redirect you to the file information as an object